<div class="container">
  <label>Select a Year for Listing Drivers</label>
  <br>
  <select #year (change)="getDrivers(year.value)">
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
  </select>
  <hr>
  <label>Drivers for year {{year.value}}</label>
  <ul>
    <li *ngFor = "let drivers of driver">
      <a href="{{ drivers.url }}" target="_blank">{{ drivers.givenName }}, {{drivers.familyName | uppercase}}</a> &nbsp;&nbsp;Date Of Birth: {{ drivers.dateOfBirth | date }} &nbsp; Nationality: {{ drivers.nationality }}
    </li>
  </ul>
</div>
